[submodule "atom/language-x86_64-assembly"]
	path = atom/language-x86_64-assembly
	url = https://github.com/evandrocoan/language-x86_64-assembly
	branch = master
[submodule "vs code/language-x86_64-assembly"]
	path = vs code/language-x86_64-assembly
	url = https://github.com/evandrocoan/x86_64-assembly-vscode
	branch = master
